<!-- Animate on Scroll library -->
<!-- <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script> -->

<!-- Header -->
<header id="main" class="main parallax">
    <script type = "text/javascript">
        AOS.init();
    </script>
    <div class="container" id="page-top" tabindex="-1">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <h5 class="name"><i>Blood Music</i>, <i>The Terminator</i>, and Genocide on Foreign Intelligences</h5>
                    <span class="subjectTitle"></span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Grid Section -->
<section id="sectionOne" style="
    background-color: rgb(51,54,52);
">
    <div style="
    text-align: center;
">
        <div class="text-center" style="
    display: inline-block;
    background-color: rgb(132, 132, 132);
    width: 80%;
    padding: 50px;
    border-radius: 3px;
">
            <h2 class="sectionTitle" style="
    padding-top: 23px;
">THESIS</h2>
<iframe width="50%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/344911031&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
<p style="
color: white;
white-space: pre-wrap;
word-wrap: break-word;
background: inherit;
font-family: 'Open Sans', sans-serif;
font-size: 17px;
line-height: 35px;
">
<b>LYRICS</b>

They’re coming
They’re coming
They can think and they’re coming
They can think and we made them and they’re coming
And they’re talking, talking, talking

Noocytes and Terminators
They will come for you
Quandaries cannot wait ‘til later
What are we to do?

Should we kill them in the night?
If we kill them will they fight?
Should we even try to kill them?
Do we have that right?

They’re here now
They’re here now
They can think and they’re here now
They can think and they’re here now and we’re pleading
Some one help us, help us, help us

Noocytes and Terminators
Turned the world askew
Who says they’re the agitators
Are they worse than you?

People all around have died
There’s one plan we haven’t tried
Could we humans stoop as low as
Acts of genocide?

[End Lyrics]

</p>
            <p style="
    color: white;
<<<<<<< HEAD
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    background: inherit;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    line-height: 35px;
">           Do humans ever have the right to commit genocide? No. Even if an intelligent species is evaluated as “harmful,” humans do not have that right because the other species are intelligent and conscious. However, humans do have the right to combat dangerous intelligences or otherwise strive for survival in ways that do not completely eradicate the other intelligences.</p>
        </div>
    </div>
</section>
<section id="sectionTwo" style="
    background-color: rgb(51,54,52);
">
    <div style="
    text-align: center;
">
        <div class="text-center" style="
    display: inline-block;
    background-color: rgb(132, 132, 132);
    width: 80%;
    padding: 50px;
    border-radius: 3px;
">
            <h2 class="sectionTitle" style="
    padding-top: 23px; */
">DEFINE "GENOCIDE"</h2>
<p style="
color: white;
text-align: left;
white-space: pre-wrap;
word-wrap: break-word;
background: inherit;
font-family: 'Open Sans', sans-serif;
font-size: 17px;
line-height: 35px;
">           Similarly, before we look at the instances of genocide or attempted genocide in <i>Blood Music</i> and <i>The Terminator</i>, we need to delineate what exactly is considered "genocide." According to the <a style="text-decoration: underline;" href="http://www.hrweb.org/legal/genocide.html"><i>Convention on the Prevention and Punishment of the Crime of Genocide</i></a>, which was adopted by the United Nations General Assembly in 1948, genocide includes any of the following actions. The actions below must destroy either in whole or in part destroy a group.

                               1. Kills members of this group.
                               2. Causes serious harm to members of the group(physically or mentally)
                               3. Deliberately inflicts on the group's conditions of life in order to bring physical destruction,
                                    in whole or in part.
                               4. Imposes measures to prevent births within the group.
                               5. Forcibly transfers children of the group to another group.

           As a result, we can clearly see that humans do attempt to commit genocide upon the noocytes in <i>Blood Music</i>; the USSR tries to "launch a full-scale nuclear-strike on North America,"(198) in order to kill many or all of the noocytes that have overrun and taken over the land. This correlates with the action of killing members of the noocyte group. Additionally, deciding to nuclear strike would inflict great devastation on the environment that the noocytes inhabit. This would affect the noocytes' conditions of life, and may bring upon either partial or entire physical destruction. In <a style="text-decoration: underline;" href="http://www.imdb.com/title/tt0088247/plotsummary#synopsis"><i>The Terminator</i></a>, we also see humanity engaging in genocide against the androids. John Connor is leading the human Resistance, which fights the androids, with the intent to kill them or to cause serious physical harm to them. Also, we may also see part five of the definition of genocide in play. The human Resistance is forcibly reprogramming Terminators in order to transfer them to humanity's side. For example, the android played by Arnold Schwarzenegger is reprogrammed to save John. As a result, it now risks its own embodiment in order to protect John's life from the android trying to assassinate him. Thus, we see humanity engaging in genocide in both <i>Blood Music</i> and <i>The Terminator</i>.</p>
        </div>
    </div>
</section>
<section id="sectionThree" style="
    background-color: rgb(51,54,52);
">
    <div style="
    text-align: center;
">
        <div class="text-center" style="
    display: inline-block;
    background-color: rgb(132, 132, 132);
    width: 80%;
    padding: 50px;
    border-radius: 3px;
">
            <h2 class="sectionTitle" style="
    padding-top: 23px; */
">DEFINE"HARM"</h2>
<h5 style="
    margin: 2px;
    color: #fffcfc;
"><b>Characteristics of Something That Is "Harmful"</b></h5>
            <div id="myCanvasContainer" style="
    border: white;
    border-style: solid;
">
             <canvas width="1000" height="350" id="myCanvas">
              <p>Anything in here will be replaced on browsers that support the canvas element</p>
              <ul>
               <li><a href="/salt">KILLS (PERMANENT UNCONSCIOUSNESS)</a></li>
               <li><a href="" target="_blank">CAUSES MENTAL PAIN</a></li>
               <li><a href="/fish">CAUSES PHYSICAL PAIN</a></li>
               <li><a href="/chips">DISABLES</a></li>
               <li><a href="/salt">CAUSES LOSS OF ABILITY</a></li>
               <li><a href="/vinegar">DEPRIVES OPPORTUNITIES</a></li>
               <li><a href="/salt">DEPRIVES FREEDOMS</a></li>
               <li><a href="/salt">DEPRIVES PLEASURES</a></li>
              </ul>
             </canvas>
            </div>

            <p style="
    color: white;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    background: inherit;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    line-height: 35px;
">
           Before we delve into whether or not committing genocide on harmful intelligences is ever morally justified, we must first decide what is is that makes an intelligence “harmful”. The first part of this definition is easy; harmful simply refers to something that causes harm. However, the second part proves to be more challenging: what is harm? Moral philosopher Bernard Gert asserts that there are “five harms that all rational persons want to avoid” (1). These five harms are as follows:

                               1. Don’t kill (Don’t cause permanent loss of consciousness.)
                               2. Don’t cause pain. (This includes mental pain as well as physical pain.)
                               3. Don’t disable. (Don’t cause loss of ability.)
                               4. Don’t deprive of freedom (or opportunity).
                               5. Don’t deprive of pleasure. (Gert 10)

           Therefore, a “harmful intelligence” is an intelligent being or species that knowingly causes one of the five harms or does not knowingly cause harm but cannot be changed so that it no longer does. Through this, it is immediately clear why The Terminator should be considered a harmful intelligence. It’s sole reason for existence was to go back in time, find Sarah Connor, and murder her (Cameron, <i>The Terminator</i>). It is more difficult to judge whether or not the noocytes are harmful. However, the noocytes ultimately deprive humanity of freedom. Specifically, they deprive them of the freedom to choose whether they would like to remain as an individual human or join the noosphere. For the most part, the noocytes transform people without their permission, such as between Edward and Gail, when they merged together (Bear, 114). Still, it may be argued that at one point noocytes gave Suzy the choice to “continue like [she was], or to join us” (Bear 219). Ultimately, though, the noocytes changed Suzy, as well as the rest of humanity (Bear 275-276). Therefore, both the Terminator and noocytes are considered “harmful” intelligences.</p>
        </div>
    </div>
</section>
<section id="sectionFour" style="
    background-color: rgb(51,54,52);
">
    <div style="
    text-align: center;
">
        <div class="text-center" style="
    display: inline-block;
    background-color: rgb(132, 132, 132);
    width: 80%;
    padding: 50px;
    border-radius: 3px;
">
            <h2 class="sectionTitle" style="
    padding-top: 23px;
">GENOCIDE ON ORGANIC INTELLIGENCE</h2>
<h5 style="
    margin: 2px;
    color: #fffcfc;
"><b>Noocytes-A Living, Collaborative, and Concious Species</b></h5>
<h5 style="
margin: 2px;
color: #fffcfc;
font-size: 19px;
line-height: 36px;
">Cluster of Thousands of Noocytes</h5>
<img src="<%= asset_path('snapshotBlob.png') %>" alt="" style="width: 430px;height: 280px;display: block;margin: auto;margin-bottom: 30px;">
<a style="text-decoration: underline; margin-top: -20px" href="/salt">Animated Version</a>
<h5 style="
margin: 2px;
color: #fffcfc;
font-size: 19px;
line-height: 36px;
"></h5>
            <p style="
    color: white;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    background: inherit;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    line-height: 35px;
">           Despite the fact that the noocytes are classified as “harmful”, humanity is not right in attempting to commit acts of genocide. This is because the noocytes are conscious organisms with an intelligence comparable to that of a human (working together, their intelligence is even greater). Since they are conscious and intelligent, the noocytes are aware that others “<b>wish to destroy *the lab*, and presumably all of us</b>” (Bear 226). Throughout the surrounding passages, the noocytes express unease and desperation at the thought of genocide on their own species. Their desperation does not manifest itself in an emotional way, as it would in humans. Instead, the noocytes express desperation through repeated logical questioning, asking “<b>Can you stop these attempts?</b>” (Bear 227). Of course, it would be inaccurate to call noocytes the same as humans, but there are certainly equivalencies: both are conscious, intelligent, and are desperate to maintain survival (not to mention, noocytes are made from human blood cells). The distinction is further blurred by the fact that noocytes live within humans and, in order to advance themselves, merge multiple humans together to create a human-noocyte organism, where each is a part of the other. Since “the principle that any national, racial or religious group has a natural right to exist”, the humans that the noocytes inhabit have the right to exist, as do the humans (Destexhe). In fact, the transformed humans form their own “group”, so any systematic killing of transformed humans would be considered genocide, which is a violation of the human right to exist and therefore immoral. Since the noocytes are an essential part of this new group of humans, these same rights should extend to them as well. So, genocide of noocytes violates their right to exist, which is unethical.

</p>
<h5 style="
    margin: 2px;
    color: #fffcfc;
"><b>Noocytes Attempt to Overflow and Spread from Vergil's Tub</b></h5>
  <div id="myCanvasContainerWater">
    <canvas id="canvasWater" width="400" height="200" style="
    margin-top: -35px;
"></canvas>
        </div>
    </div>
</section>
<section id="sectionFive" style="
    background-color: rgb(51,54,52);
">
    <div style="
    text-align: center;
">
        <div class="text-center" style="
    display: inline-block;
    background-color: rgb(132, 132, 132);
    width: 80%;
    padding: 50px;
    border-radius: 3px;
">
            <h2 class="sectionTitle" style="
    padding-top: 23px; */
">GENOCIDE ON INORGANIC INTELLIGENCE</h2>
            <p style="
    color: white;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    background: inherit;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    line-height: 35px;
">           Even if an artificially intelligent specie fell within the guidelines of "harmful" as defined previously, it would still be immoral for humanity to commit genocide on them. In the singularity, AI is considered living and conscious. When we murder something, it is essentially taking away their ability to live and to exist, without their consent. As a result, in her article "If Machines Can Think, Do They Deserve Civil Rights?", futurist scholar and science journalist Raya Bidshahri says that, if we extinguished a self-aware artificial intelligent, we would be infringing on the basic right to live. Additionally, once a machine is self-conscious and can demand or is aware that it would like rights, if humans then decided to reprogram them so that they no longer had consciousness, it would be immoral, since that would essentially be killing and refusing their right to survive and thrive. Bidshari also addresses counter arguments that say that, it would be preposterous to give AI rights since they would always be, at some level, programmed to be good or evil by humans. Yet, there are still debates regarding whether humans truly have free will. Many would agree that, regardless of whether or not it turns out that humans have free will or not, we should still have basic rights, such as living. Thus, it is immoral for humans to commit genocide on self-aware androids.</p>
        </div>
    </div>
</section>
<section id="sectionSix" style="
    background-color: rgb(51,54,52);
">
    <div style="
    text-align: center;
">
        <div class="text-center" style="
    display: inline-block;
    background-color: rgb(132, 132, 132);
    width: 80%;
    padding: 50px;
    border-radius: 3px;
">
            <h2 class="sectionTitle" style="
    padding-top: 23px; */
">COMBATTING INTELLIGENCES</h2>
            <p style="
            color: white;
            text-align: left;
            white-space: pre-wrap;
            word-wrap: break-word;
            background: inherit;
            font-family: 'Open Sans', sans-serif;
            font-size: 17px;
            line-height: 35px;
">           The main argument that can be made in favor of committing genocide in dire circumstances is the possibility that genocide of other intelligent species is the only method of ensuring humanity’s survival. However, this is viewpoint is very anthropocentric- the logic only follows if humanity is the most important thing in existence. In other words, say it was considered that it was morally right for humanity to commit genocide on the noocytes to ensure survival. Is it then morally right for the Terminator and similar AIs to commit genocide on all of humanity? If humans are not the most important thing in existence, then there is no difference between these two scenarios. Most people would be very quick to agree that it is immoral for the Terminator to kill Sarah Connor (and thus kill all hope for humanity’s survival in the future). Therefore, it is equally immoral for humans to destroy every single noocyte.  However that does not mean that if humanity were attacked, such as in The Terminator, they should remain as “sitting ducks,”  allowing other intelligences to destroy them. The humans had the right to rebel and start a war in The Terminator. They were not necessarily seeking to destroy the AI, but they were fighting for survival. Had they not rebelled, humanity surely would have gone extinct. That being said, any fighting should stop if an agreement is made between humans and androids that both parties agree on. Similarly, in Blood Music, the humans were justified in their policy of attempting to quarantine the noocytes in North America. This does not target any specific group simply for existing, nor is it designed to kill all or part of a group. Instead, it is fighting back against a group that has been deemed harmful to humanity and is a type of warfare needed for humanity’s survival. Again, as long as any fighting tops when an agreement is reached, there is moral justification for their actions. If an intelligence is deemed “harmful”, humanity does have the option of fighting back, as long as they do not cross over into genocide.</p>
        </div>
    </div>
</section>
<section id="sectionSeven" style="
    background-color: rgb(51,54,52);
">
    <div style="
    text-align: center;
">
        <div class="text-center" style="
    display: inline-block;
    background-color: rgb(132, 132, 132);
    width: 80%;
    padding: 50px;
    border-radius: 3px;
">
            <h2 class="sectionTitle" style="
    padding-top: 23px; */
">CONCLUSION</h2>
            <p style="
            color: white;
            text-align: left;
            white-space: pre-wrap;
            word-wrap: break-word;
            background: inherit;
            font-family: 'Open Sans', sans-serif;
            font-size: 17px;
            line-height: 35px;
">           In conclusion, genocide is never the moral option, even if the intelligence is considered “harmful” to humanity. Of course, it’s different making this argument from a purely hypothetical standpoint. If a intelligence comparable to a human’s was ever created, the situation becomes more complex. As in a real situation, human emotions would come into play. People would become fearful and begin to panic. If humanity is not careful, these could lead to immoral actions. Consider if you saw this news clip: <a style="text-decoration: underline;" href="https://www.youtube.com/watch?v=Jx_KH3VbeP0&feature=youtu.be"><i>News Clip: New Intelligent Species</i></a></p>
<p style="color: white;
text-align: left;
white-space: pre-wrap;
word-wrap: break-word;
background: inherit;
font-family: 'Open Sans', sans-serif;
font-size: 17px;
line-height: 35px;
text-align: center;
font-weight: bold">
[Video Script, in the style of a news clip]</p>
<p style="
color: white;
text-align: left;
white-space: pre-wrap;
word-wrap: break-word;
background: inherit;
font-family: 'Open Sans', sans-serif;
font-size: 17px;
line-height: 35px;
"><b>           Newscaster:</b> We are receiving reports of a previously unknown intelligent species that has been discovered in California. Experts do not know much about this species yet, but it seems as if they are acting in similar ways to a disease. People have reported while lines across their body as well as sudden, overwhelming fatigue. At the moment, it is recommended that you distance yourself from anyone showing these symptoms to prevent the further spread of these cells. (to earpiece) I’m sorry? (to camera) This just in, there are many cases in the California area of missing people who earlier showed symptoms. We have the daughter of one of the missing cases, whose identity has not been released, on the line right now.

<b>           Daughter:</b> It doesn’t make any sense. Just this morning, my mother was right there in bed. Yeah, she seemed sick, but it certainly didn’t seem fatal. Then I came home from school and she was just...gone. Her clothes were still there, but that was it. It doesn’t make any sense. It can’t be real. It can’t be real. It can’t be re---”

<b>           Newscaster:</b> At the moment, we can not confirm that these disappearances are in any way related to the new intelligent species. There is no reason to panic. However, we strongly urge you- please stay away from anyone exhibiting any symptoms.</p>
<p style="color: white;
text-align: left;
white-space: pre-wrap;
word-wrap: break-word;
background: inherit;
font-family: 'Open Sans', sans-serif;
font-size: 17px;
line-height: 35px;
text-align: center;
font-weight: bold">[End Video]</p>

<p style="
color: white;
text-align: left;
white-space: pre-wrap;
word-wrap: break-word;
background: inherit;
font-family: 'Open Sans', sans-serif;
font-size: 17px;
line-height: 35px;
">
           In a situation like this, it is hard to remember that genocide is not the answer. However, it is important to take a step back and approach the issue from a purely ethics-based point of view.
</p>
        </div>
    </div>
</section>
<section id="sectionEight" style="
    background-color: rgb(51,54,52);
">
    <div style="
    text-align: center;
">
        <div class="text-center" style="
    display: inline-block;
    background-color: rgb(132, 132, 132);
    width: 80%;
    padding: 50px;
    border-radius: 3px;
">
            <h2 class="sectionTitle" style="
    padding-top: 23px; */
">MORE INFORMATION</h2>
<p style="
color: white;
text-align: center;
white-space: pre-wrap;
word-wrap: break-word;
background: inherit;
font-family: 'Open Sans', sans-serif;
font-size: 17px;
line-height: 35px;
">           <a style="text-decoration: underline;" href="http://gunkelweb.com/robot-ethics/texts/gunkel_MQ.pdf">Gunkel’s <i>The Machine Question</i></a>

           <a style="text-decoration: underline;" href="https://gizmodo.com/when-will-robots-deserve-human-rights-1794599063">George Dvorsky's <i>When Will Robots Deserve Human Rights?</i></a>

           <a style="text-decoration: underline;" href="https://www.engadget.com/2016/08/15/technological-singularity-problems-brain-mind/">Jessica Conditt’s <i>We don't understand AI because we don't understand intelligence</i></a></p>

</section>

<section id="sectionNine" style="
    background-color: rgb(51,54,52);
">
    <div style="
    text-align: center;
">
        <div class="text-center" style="
    display: inline-block;
    background-color: rgb(132, 132, 132);
    width: 80%;
    padding: 50px;
    border-radius: 3px;
">
            <h2 class="sectionTitle" style="
    padding-top: 23px; */
">WROKS CITED</h2>
            <p style="
            color: white;
            text-align: left;
            white-space: pre-wrap;
            word-wrap: break-word;
            background: inherit;
            font-family: 'Open Sans', sans-serif;
            font-size: 17px;
            line-height: 35px;
">Bear, Greg. <i>Blood Music</i>. Open Road Integrated Media, 2014.
Bidshahri, Raya. “If Machines Can Think, Do They Deserve Civil Rights?” Singularity Hub, Singularity University,
           9 Sept. 2016, singularityhub.com/2016/09/09/if-machines-can-think-do-they-deserve-civil-rights/.
Brown, Mike. “When the Singularity Comes, Will A.I. Fear Death?”<i>Inverse</i>, 7 Nov. 2016,
           www.inverse.com/article/23136-singularity-ai-death-fear.
Cameron, James, and Gale Anne Hurd. <i>Terminator</i>. Metro Goldwyn Mayer, 1984.
Destexhe, Alain. “The Crime of Genocide.” <i>Rwanda and Genocide in the Twentieth Century</i>, New York University
           Press, 1995, www.pbs.org/wgbh/pages/frontline/shows/rwanda/reports/dsetexhe.html.
Gert, Bernard. “Morality, Moral Theory, and Applied and Professional Ethics.” <i>Professional Ethics, A
             Multidisciplinary Journal</i>, vol. 1, no. 1, 1992, pp. 5–24., doi:10.5840/profethics199211/27.
             http://homepage.westmont.edu/hoeckley/Readings/Symposium/PDF/101_200/160.pdf
Gunkel, David J. “A Vindication of the Rights of Machines.” <i>Philosophy & Technology</i>, vol. 27, no. 1, 2013,
           pp. 113–132., doi:10.1007/s13347-013-0121-z. https://link.springer.com/article/10.1007/s13347-013-0121-z
Jayomac. “The Terminator.” Photobucket, Photobucket,
           photobucket.com/gallery/user/jayomatic/media/bWVkaWFJZDo1NzkzNjEwOA==/?ref.
Kurzgesagt- In A Nutshell, director. <i>Do Robots Deserve Rights? What If Machines Become Conscious?</i> YouTube,
            Google, 23 Feb. 2017, www.youtube.com/watch/?v=DHyUYg8X31c#Do_Robots_Deserve_Rights__What_
            if_Machines_Be_e_Conscious_.
Latrell Jennings Vlogs, director. <i>Emergency Alert Sound</i>. YouTube, Google, 15 Sept. 2015,
           www.youtube.com/watch?v=2tYkNZz0b6k.
“Microscopic Cells.” <i>Shutterstock</i>, Shutterstock, Inc., ak8.picdn.net/shutterstock/videos/5012828/thumb/1.jpg?
           i10c=img.resize(height:160)
“News or Talk Show Background.” <i>Shutterstock</i>, Shutterstock, Inc.,
           ak0.picdn.net/shutterstock/videos/279880/thumb/1.jpg?i10c=img.resize(height:160).</p>
</section>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    TagCanvas.Start('myCanvas', '', {
      textFont: 'Impact,"Arial Black",sans-serif', textColour: '#ff0b0b', textHeight: 29,
    });
    $('body').scrollspy({
      target: '#main-nav'
    });

    $('.navbar a').click(function(event){
        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {
            // Prevent default anchor click behavior
            event.preventDefault();
            // Store hash (#)
            var hash = this.hash;
            // Ensure no section has relevant class
            $('section').removeClass("focus");
            // Add class to target
            $(hash).addClass("focus");
            // Remove thy class after timeout
            setTimeout(function(){
                $(hash).removeClass("focus");
            }, 2000);
            // Using jQuery's animate() method to add smooth page scroll
            // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area (the speed of the animation)
            $('html, body').animate({
                scrollTop: $(hash).offset().top
            }, 600, function(){
                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
            });
            // Collapse Navbar for mobile view
            $(".navbar-collapse").collapse('hide');
        }
    });
  })
</script>

<script>
// August 2013
// Zachary Johnson
// www.zachstronaut.com

//
// See larger version here: https://www.zachstronaut.com/lab/waterfall-experiment.html
//

var ctx,
	emitter,
	settings = {
		width: 400,
		height: 500
	};

setTimeout(start, 0);

function start() {
	ctx = document.getElementById('canvasWater').getContext('2d');

	emitter = new Emitter(ctx, settings);

	ctx.globalAlpha = 0.5;

	animate();
}

function animate() {
	ctx.clearRect(0, 0, settings.width, settings.height);

	emitter.spawn(1);
	emitter.spawn(1);
	emitter.spawn(1);
	emitter.spawn(1);
	emitter.spawn(3);
	emitter.spawn(3);
	emitter.spawn(6);

	emitter.spawn(1);
	emitter.spawn(1);
	emitter.spawn(1);
	emitter.spawn(1);
	emitter.spawn(3);
	emitter.spawn(3);
	emitter.spawn(6);

	emitter.animate();

	requestAnimationFrame(animate);
}

function Emitter(_ctx, _settings) {
	var _p = 0,
		_twoPi = Math.PI * 2,
		_lastx = 0;

	this.n = 0;

	this.head = null;

	this.pool = [];

	this.spawn = function (yvDelta) {
		var drop;

		if (this.pool.length) {
			drop = this.pool.pop();

		} else {
			drop = {};

			// So we can check on the console to verify that our total drops is stable and we are recycling from the pool
			this.n++;
		}

		// Instead of picking a completely random x-axis start position for every new drop, we jump a random offset from our last x-axis drop position.  This helps give us a better distribution.  With true random positioning you can have lots of stacking of drops by random chance.
		drop.x = (_settings.width / 4) + (_lastx + 24 + Math.floor(Math.random() * (_settings.width / 4))) % (_settings.width / 2);
		_lastx = drop.x;

		drop.y = 48;

		// Start with slight rise -- adds to pouring-over-edge effect
		drop.yv = -2 + Math.random() * (yvDelta || 0);

		drop.yvDelta = yvDelta || 0;

		drop.next = this.head;
		drop.prev = null;

		if (this.head) {
			this.head.prev = drop;
		}

		this.head = drop;
	};

	this.animate = function () {
		var next,
			drop = this.head;

		while (drop) {
			// Acceleration
			drop.yv += 0.1 + (drop.yvDelta / 50);

			// Max velocity
			if (drop.yv > 15) {
				drop.yv = 15;
			}

			drop.y += drop.yv;

			next = drop.next;

			if (drop.y >= _settings.height) {
				this.prune(drop);

			} else {
				_p += 0.01;

				// We use Perlin noise and the drop's x-axis position in order to break up the color divisions along a moving wave line to enhance the waterfall effect
				if (drop.yv < (5 + 2 * noise(drop.x / 100, _p / 1000, 0)) && drop.yvDelta < 2) {
					_ctx.fillStyle = '#b20101';

				} else if (drop.yv < (9 + 2 * noise(drop.x / 100, _p / 1000, 0, 0)) && drop.yvDelta < 4) {
					_ctx.fillStyle = '#f75656';

				} else {
					_ctx.fillStyle = '#ffa189';
				}

				ctx.beginPath();
	            ctx.arc(Math.floor(drop.x), Math.floor(drop.y), 4, 0, _twoPi, 'clockwise');
	            ctx.fill();
			}

			drop = next;
		}
	};

	this.prune = function (drop) {
		var prev;

		if (drop.prev) {
			drop.prev.next = drop.next;
			prev = drop.prev;

		} else {
			this.head = drop.next;
			prev = null;
		}

		if (drop.next) {
			drop.next.prev = prev;
		}

		drop.prev = null;
		drop.next = null;

		this.pool.push(drop);
	};
}


if (!window.requestAnimationFrame) {
	window.requestAnimationFrame = window.webkitRequestAnimationFrame
		|| window.mozRequestAnimationFrame
		|| window.oRequestAnimationFrame
		|| window.msRequestAnimationFrame
		|| function (callback, element) {
			window.setTimeout(callback, 1000 / 60);
		};
}


// http://zreference.com/canvas-perlin-noise/
// Based on Java reference implementation of improved noise - Copyright 2002 Ken Perlin.
(function(){
   var p = [];
   var permutation = [ 151,160,137,91,90,15,
   131,13,201,95,96,53,194,233,7,225,140,36,103,30,69,142,8,99,37,240,21,10,23,
   190, 6,148,247,120,234,75,0,26,197,62,94,252,219,203,117,35,11,32,57,177,33,
   88,237,149,56,87,174,20,125,136,171,168, 68,175,74,165,71,134,139,48,27,166,
   77,146,158,231,83,111,229,122,60,211,133,230,220,105,92,41,55,46,245,40,244,
   102,143,54, 65,25,63,161, 1,216,80,73,209,76,132,187,208, 89,18,169,200,196,
   135,130,116,188,159,86,164,100,109,198,173,186, 3,64,52,217,226,250,124,123,
   5,202,38,147,118,126,255,82,85,212,207,206,59,227,47,16,58,17,182,189,28,42,
   223,183,170,213,119,248,152, 2,44,154,163, 70,221,153,101,155,167, 43,172,9,
   129,22,39,253, 19,98,108,110,79,113,224,232,178,185, 112,104,218,246,97,228,
   251,34,242,193,238,210,144,12,191,179,162,241, 81,51,145,235,249,14,239,107,
   49,192,214, 31,181,199,106,157,184, 84,204,176,115,121,50,45,127, 4,150,254,
   138,236,205,93,222,114,67,29,24,72,243,141,128,195,78,66,215,61,156,180];

   for (var i=0; i < 256 ; i++)
     p[256+i] = p[i] = permutation[i];

   function noise(x, y, z) {
      var X = Math.floor(x) & 255,
          Y = Math.floor(y) & 255,
          Z = Math.floor(z) & 255;
      x -= Math.floor(x);
      y -= Math.floor(y);
      z -= Math.floor(z);

      var u = fade(x),
          v = fade(y),
          w = fade(z);
      var A = p[X  ]+Y, AA = p[A]+Z, AB = p[A+1]+Z,
          B = p[X+1]+Y, BA = p[B]+Z, BB = p[B+1]+Z;

      return lerp(w, lerp(v, lerp(u, grad(p[AA  ], x  , y  , z   ),
                                     grad(p[BA  ], x-1, y  , z   )),
                             lerp(u, grad(p[AB  ], x  , y-1, z   ),
                                     grad(p[BB  ], x-1, y-1, z   ))),
                     lerp(v, lerp(u, grad(p[AA+1], x  , y  , z-1 ),
                                     grad(p[BA+1], x-1, y  , z-1 )),
                             lerp(u, grad(p[AB+1], x  , y-1, z-1 ),
                                     grad(p[BB+1], x-1, y-1, z-1 ))));
   }
   function fade(t) {
     return t * t * t * (t * (t * 6 - 15) + 10);
   }
   function lerp(t, a, b) {
     return a + t * (b - a);
   }
   function grad(hash, x, y, z) {
      var h = hash & 15;
      var u = h<8 ? x : y,
          v = h<4 ? y : h==12||h==14 ? x : z;
      return ((h&1) == 0 ? u : -u) + ((h&2) == 0 ? v : -v);
   }

   window.noise = noise;
})();
</script>
