<!-- Animate on Scroll library -->
<!-- <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script> -->

<!-- Header -->
<header id="main" class="main">
    <script type = "text/javascript">
        AOS.init();
    </script>
    <div class="container" id="page-top" tabindex="-1">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <h1 class="name"></h1>
                    <span class="subjectTitle"></span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Grid Section -->
<section id="sectionOne" style="
    background-color: rgb(51,54,52);
">
    <div style="
    text-align: center;
">
        <div class="text-center" style="
    display: inline-block;
    background-color: rgb(132, 132, 132);
    width: 80%;
    padding: 50px;
    border-radius: 3px;
">
            <h2 class="sectionTitle" style="
    padding-top: 23px; */
">THESIS</h2>
<iframe width="50%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/344911031&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
<p style="
color: white;
white-space: pre-wrap;
word-wrap: break-word;
background: inherit;
font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
font-size: 22px;
">Lyrics

They’re coming
They’re coming
They can think and they’re coming
They can think and we made them and they’re coming
And they’re talking, talking, talking

Noocytes and Terminators
They will come for you
Quandaries cannot wait for later
What are we to do?

Will they kill us in the night?
If we kill them will they fight?
Should we even try to kill them?
Do we have that right?

They’re here now
They’re here now
They can think and they’re here now
They can think and they’re here now and we’re pleading
Some one help us, help us, help us

Noocytes and Terminators
Turned the world askew
Who says they’re the agitators
Are they worse than you?

People all around have died
There’s one plan we haven’t tried
Could we humans stoop as low as
Acts of genocide?

</p>
            <p style="
    color: white;
">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consequat quis enim sit amet finibus. Phasellus malesuada vulputate eleifend. Integer pellentesque sollicitudin tempor. Proin eu urna tristique est mattis laoreet. Phasellus lacinia, lectus quis congue eleifend, ex neque consectetur elit, vitae vehicula purus ante sed risus. Vestibulum nec dictum purus. Maecenas eget tellus nec augue iaculis aliquet non id nunc. Mauris et leo magna. Vivamus viverra massa id est fringilla congue. Nullam viverra pulvinar laoreet. Duis ultricies pulvinar gravida. Curabitur nec fringilla arcu. Ut elementum at massa vel lacinia. Curabitur mollis lacus eget aliquet porta. Phasellus ac volutpat mi. Mauris gravida lectus non enim sollicitudin consequat.</p>
        </div>
    </div>
</section>
<section id="sectionTwo" style="
    background-color: rgb(51,54,52);
">
    <div style="
    text-align: center;
">
        <div class="text-center" style="
    display: inline-block;
    background-color: rgb(132, 132, 132);
    width: 80%;
    padding: 50px;
    border-radius: 3px;
">
            <h2 class="sectionTitle" style="
    padding-top: 23px; */
">DEFINING "HARMFUL"</h2>
<h5 style="
    margin: 2px;
    color: #fffcfc;
">Characteristics of Something "Harmful"</h5>
            <div id="myCanvasContainer" style="
    border: white;
    border-style: solid;
">
             <canvas width="1000" height="350" id="myCanvas">
              <p>Anything in here will be replaced on browsers that support the canvas element</p>
              <ul>
               <li><a href="" target="_blank">CAUSES EMOTIONAL STRESS</a></li>
               <li><a href="/fish">PHYSICALLY DAMAGES</a></li>
               <li><a href="/chips">BRINGS UNWANTED CHANGES</a></li>
               <li><a href="/salt">ENDS HUMAN RACE</a></li>
               <li><a href="/vinegar">HAS MALICIOUS INTENT</a></li>
               <li><a href="/vinegar">CAN'T CHANGE ITS MALICIOUS INTENT</a></li>
               <li><a href="/salt">DISABLES</a></li>
               <li><a href="/salt">DEPRIVES FREEDOMS</a></li>
               <li><a href="/salt">DEPRIVES PLEASURES</a></li>
              </ul>
             </canvas>
            </div>
            <p style="
    color: white;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    background: inherit;
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 22px;
">           Before we delve into whether or not committing genocide on harmful intelligences is ever morally justified, we must first decide what is is that makes an intelligence “harmful”. The first part of this definition is easy; harmful simply refers to something that causes harm. However, the second part proves to be more challenging: what is harm? Moral philosopher Bernard Gert asserts that there are “five harms that all rational persons want to avoid” (1). These five harms are as follows:

                               1. Don’t kill (Don’t cause permanent loss of consciousness.)
                               2. Don’t cause pain. (This includes mental pain as well as physical pain.)
                               3. Don’t disable. (Don’t cause loss of ability.)
                               4. Don’t deprive of freedom (or opportunity).
                               5. Don’t deprive of pleasure. (Gert 10)

           Therefore, a “harmful intelligence” is an intelligent being or species that knowingly causes one of the five harms or does not knowingly cause harm but cannot be changed so that it no longer does. Through this, it is immediately clear why The Terminator should be considered a harmful intelligence. It’s sole reason for existence was to go back in time, find Sarah Connor, and murder her (Cameron, <i>The Terminator</i>). It is more difficult to judge whether or not the noocytes are harmful. However, the noocytes ultimately deprive humanity of freedom. Specifically, they deprive them of the freedom to choose whether they would like to remain as an individual human or join the noosphere. For the most part, the noocytes transform people without their permission, such as between Edward and Gail, when they merged together (Bear, 114). Still, it may be argued that at one point noocytes gave Suzy the choice to “continue like [she was], or to join us” (Bear, 219). Ultimately, though, the noocytes changed Suzy, as well as the rest of humanity (Bear, 275-276). Therefore, both the noocytes and the Terminator are to be considered “harmful”
</p>
        </div>
    </div>
</section>
<section id="sectionThree" style="
    background-color: rgb(51,54,52);
">
    <div style="
    text-align: center;
">
        <div class="text-center" style="
    display: inline-block;
    background-color: rgb(132, 132, 132);
    width: 80%;
    padding: 50px;
    border-radius: 3px;
">
            <h2 class="sectionTitle" style="
    padding-top: 23px; */
">DEFINING "GENOCIDE"</h2>
<p style="
color: white;
text-align: left;
white-space: pre-wrap;
word-wrap: break-word;
background: inherit;
font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
font-size: 22px;
">           Similarly, before we look at the instances of genocide or attempted genocide in <i>Blood Music</i> and <i>The Terminator</i>, we need to delineate what exactly is considered "genocide." According to the <i>Convention on the Prevention and Punishment of the Crime of Genocide</i>, which was adopted by the United Nations General Assembly in 1948, genocide includes any of the following actions. The actions below must destroy either in whole or in part destroy a group.

                               1. Kills members of this group.
                               2. Causes serious harm to members of the group(physically or mentally)
                               3. Deliberately inflicts on the group's conditions of life in order to bring physical destruction, in whole or in part.
                               4. Imposes measures to prevent births within the group.
                               5. Forcibly transfers children of the group to another group.

           As a result, we can clearly see that humans do attempt to commit genocide upon the noocytes in <i>Blood Music</i>; the USSR tries to "launch a full-scale nuclear-strike on North America,"(198) in order to kill many or all of the noocytes that have overrun and taken over the land. This correlates with the action of killing members of the noocyte group. Additionally, deciding to nuclear strike would inflict great devastation on the environment that the noocytes inhabit. This would affect the noocytes' conditions of life, and may bring upon either partial or entire physical descrution. In <i>The Terminator</i>, we also see humanity engaging in genocide against the androids. John Connor is leading the human Resistance, which fights the androids, with the intent to kill them or to cause serious physical harm to them. Also, we may also see part five of the definition of genocide in play. The human Resistance is forcibly reprogramming Terminators in order to transfer them to humanity's side. For example, the android played by Arnold Schwarzenegger is reprogrammed to save John. As a result, it now risks its own embodiment in order to protect John's life from the android trying to assassinate him. Thus, we see humanity engaging in genocide in both <i>Blood Music</i> and <i>The Terminator</i>.</p>
        </div>
    </div>
</section>
<section id="sectionFour" style="
    background-color: rgb(51,54,52);
">
    <div style="
    text-align: center;
">
        <div class="text-center" style="
    display: inline-block;
    background-color: rgb(132, 132, 132);
    width: 80%;
    padding: 50px;
    border-radius: 3px;
">
            <h2 class="sectionTitle" style="
    padding-top: 23px; */
">GENOCIDE ON ORGANIC INTELLIGENCES</h2>
            <p style="
    color: white;
">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consequat quis enim sit amet finibus. Phasellus malesuada vulputate eleifend. Integer pellentesque sollicitudin tempor. Proin eu urna tristique est mattis laoreet. Phasellus lacinia, lectus quis congue eleifend, ex neque consectetur elit, vitae vehicula purus ante sed risus. Vestibulum nec dictum purus. Maecenas eget tellus nec augue iaculis aliquet non id nunc. Mauris et leo magna. Vivamus viverra massa id est fringilla congue. Nullam viverra pulvinar laoreet. Duis ultricies pulvinar gravida. Curabitur nec fringilla arcu. Ut elementum at massa vel lacinia. Curabitur mollis lacus eget aliquet porta. Phasellus ac volutpat mi. Mauris gravida lectus non enim sollicitudin consequat.</p>
        </div>
    </div>
</section>
<section id="sectionFive" style="
    background-color: rgb(51,54,52);
">
    <div style="
    text-align: center;
">
        <div class="text-center" style="
    display: inline-block;
    background-color: rgb(132, 132, 132);
    width: 80%;
    padding: 50px;
    border-radius: 3px;
">
            <h2 class="sectionTitle" style="
    padding-top: 23px; */
">GENOCIDE ON INORGANIC INTELLIGENCES</h2>
            <p style="
    color: white;
">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consequat quis enim sit amet finibus. Phasellus malesuada vulputate eleifend. Integer pellentesque sollicitudin tempor. Proin eu urna tristique est mattis laoreet. Phasellus lacinia, lectus quis congue eleifend, ex neque consectetur elit, vitae vehicula purus ante sed risus. Vestibulum nec dictum purus. Maecenas eget tellus nec augue iaculis aliquet non id nunc. Mauris et leo magna. Vivamus viverra massa id est fringilla congue. Nullam viverra pulvinar laoreet. Duis ultricies pulvinar gravida. Curabitur nec fringilla arcu. Ut elementum at massa vel lacinia. Curabitur mollis lacus eget aliquet porta. Phasellus ac volutpat mi. Mauris gravida lectus non enim sollicitudin consequat.</p>
        </div>
    </div>
</section>
<section id="sectionSix" style="
    background-color: rgb(51,54,52);
">
    <div style="
    text-align: center;
">
        <div class="text-center" style="
    display: inline-block;
    background-color: rgb(132, 132, 132);
    width: 80%;
    padding: 50px;
    border-radius: 3px;
">
            <h2 class="sectionTitle" style="
    padding-top: 23px; */
">COMBATTING INTELLIGENCES</h2>
            <p style="
    color: white;
">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consequat quis enim sit amet finibus. Phasellus malesuada vulputate eleifend. Integer pellentesque sollicitudin tempor. Proin eu urna tristique est mattis laoreet. Phasellus lacinia, lectus quis congue eleifend, ex neque consectetur elit, vitae vehicula purus ante sed risus. Vestibulum nec dictum purus. Maecenas eget tellus nec augue iaculis aliquet non id nunc. Mauris et leo magna. Vivamus viverra massa id est fringilla congue. Nullam viverra pulvinar laoreet. Duis ultricies pulvinar gravida. Curabitur nec fringilla arcu. Ut elementum at massa vel lacinia. Curabitur mollis lacus eget aliquet porta. Phasellus ac volutpat mi. Mauris gravida lectus non enim sollicitudin consequat.</p>
        </div>
    </div>
</section>
<section id="sectionSeven" style="
    background-color: rgb(51,54,52);
">
    <div style="
    text-align: center;
">
        <div class="text-center" style="
    display: inline-block;
    background-color: rgb(132, 132, 132);
    width: 80%;
    padding: 50px;
    border-radius: 3px;
">
            <h2 class="sectionTitle" style="
    padding-top: 23px; */
">CONCLUSION</h2>
            <p style="
    color: white;
">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consequat quis enim sit amet finibus. Phasellus malesuada vulputate eleifend. Integer pellentesque sollicitudin tempor. Proin eu urna tristique est mattis laoreet. Phasellus lacinia, lectus quis congue eleifend, ex neque consectetur elit, vitae vehicula purus ante sed risus. Vestibulum nec dictum purus. Maecenas eget tellus nec augue iaculis aliquet non id nunc. Mauris et leo magna. Vivamus viverra massa id est fringilla congue. Nullam viverra pulvinar laoreet. Duis ultricies pulvinar gravida. Curabitur nec fringilla arcu. Ut elementum at massa vel lacinia. Curabitur mollis lacus eget aliquet porta. Phasellus ac volutpat mi. Mauris gravida lectus non enim sollicitudin consequat.</p>
        </div>
    </div>
</section>
<section id="sectionOne" style="
    background-color: rgb(51,54,52);
">
    <div style="
    text-align: center;
">
        <div class="text-center" style="
    display: inline-block;
    background-color: rgb(132, 132, 132);
    width: 80%;
    padding: 50px;
    border-radius: 3px;
">
            <h2 class="sectionTitle" style="
    padding-top: 23px; */
">CONCLUSION</h2>
            <p style="
    color: white;
">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consequat quis enim sit amet finibus. Phasellus malesuada vulputate eleifend. Integer pellentesque sollicitudin tempor. Proin eu urna tristique est mattis laoreet. Phasellus lacinia, lectus quis congue eleifend, ex neque consectetur elit, vitae vehicula purus ante sed risus. Vestibulum nec dictum purus. Maecenas eget tellus nec augue iaculis aliquet non id nunc. Mauris et leo magna. Vivamus viverra massa id est fringilla congue. Nullam viverra pulvinar laoreet. Duis ultricies pulvinar gravida. Curabitur nec fringilla arcu. Ut elementum at massa vel lacinia. Curabitur mollis lacus eget aliquet porta. Phasellus ac volutpat mi. Mauris gravida lectus non enim sollicitudin consequat.</p>
        </div>
    </div>
</section>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>


<script type="text/javascript">
  $(document).ready(function() {
    TagCanvas.Start('myCanvas', '', {
      textFont: 'Impact,"Arial Black",sans-serif', textColour: '#ff0b0b', textHeight: 29,
    });



    $('body').scrollspy({
      target: '#main-nav'
    });

    $('.navbar a').click(function(event){
        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {
            // Prevent default anchor click behavior
            event.preventDefault();
            // Store hash (#)
            var hash = this.hash;
            // Ensure no section has relevant class
            $('section').removeClass("focus");
            // Add class to target
            $(hash).addClass("focus");
            // Remove thy class after timeout
            setTimeout(function(){
                $(hash).removeClass("focus");
            }, 2000);
            // Using jQuery's animate() method to add smooth page scroll
            // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area (the speed of the animation)
            $('html, body').animate({
                scrollTop: $(hash).offset().top
            }, 600, function(){
                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
            });
            // Collapse Navbar for mobile view
            $(".navbar-collapse").collapse('hide');
        }
    });
  })
</script>
