<!-- Animate on Scroll library -->
<!-- <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script> -->

<!-- Header -->
<header id="main" class="main parallax">
    <script type = "text/javascript">
        AOS.init();
    </script>
    <div class="container" id="page-top" tabindex="-1">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <h1 class="name"></h1>
                    <span class="subjectTitle"></span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Grid Section -->
<section id="features" style="
    background-color: rgb(51,54,52);
">
    <div style="
    text-align: center;
">
        <div class="text-center" style="
    display: inline-block;
    background-color: rgb(132, 132, 132);
    width: 80%;
    padding: 50px;
    border-radius: 3px;
">
            <h2 class="sectionTitle">FEATURES</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consequat quis enim sit amet finibus. Phasellus malesuada vulputate eleifend. Integer pellentesque sollicitudin tempor. Proin eu urna tristique est mattis laoreet. Phasellus lacinia, lectus quis congue eleifend, ex neque consectetur elit, vitae vehicula purus ante sed risus. Vestibulum nec dictum purus. Maecenas eget tellus nec augue iaculis aliquet non id nunc. Mauris et leo magna. Vivamus viverra massa id est fringilla congue. Nullam viverra pulvinar laoreet. Duis ultricies pulvinar gravida. Curabitur nec fringilla arcu. Ut elementum at massa vel lacinia. Curabitur mollis lacus eget aliquet porta. Phasellus ac volutpat mi. Mauris gravida lectus non enim sollicitudin consequat.</p>
        </div>
    </div>
    <div class="row">
        <div class="conceptReview blockLeft" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-offset="0" data-aos-duration="700">
            <p class="blockTitle">CONCEPT REVIEW</p>
        </div>
        <div class="descriptionRightBlock" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-duration="700" data-aos-delay="400px">
            <p class="description conRevDescription"><b>Clear</b> and <b>concise</b> explanations by expert tutors who have passed the courses themselves with flying colors.</p>
            <table id="wrapper">
                <tr>
                    <td><img class="centerImg" src="<%= asset_path('demoA.JPG') %>" alt="GT Pal logo"></td>
                </tr>
            </table>
        </div>
    </div>
    <hr class="lineConRev">
    <hr class="linePracProb">
    <div class="row content">
        <div class="pracProb blockPracProb" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-offset="0" data-aos-duration="700">
            <p class="pracProbTitle">PRACTICE PROBLEMS</p>
        </div>
        <div class="descriptionRightBlock" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-duration="700" data-aos-delay="400px">
            <p class="description pracProbDescription">Vex your brain with questions specifically <b>tailored</b> to <b>Georgia Tech</b> course material. Compare your answers with <b>easy-to-understand</b> solutions to prove that you’ve mastered the concepts.</p>
            <table id="wrapper">
                <tr>
                    <td><img class="centerImg" src="<%= asset_path('demoA.JPG') %>" alt="GT Pal logo"></td>
                </tr>
            </table>
        </div>
    </div>
    <hr class="lineExamPrep">
    <div class="row">
        <div class="examPrep blockLeft" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-offset="0" data-aos-duration="700">
            <p class="blockTitle">EXAM PREPARATION</p>
        </div>
        <div class="descriptionRightBlock">
            <p class="description examPrepDescription" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-duration="700" data-aos-delay="400px">Follow the <b>video tutorials</b> and solve problems <b>step by step</b>. Learn how to approach Georgia Tech exam questions.</p>
            <table id="wrapper">
                <tr>
                    <td><img class="centerImg" src="<%= asset_path('demoA.JPG') %>" alt="GT Pal logo"></td>
                </tr>
            </table>
        </div>
    </div>
  </div>
</section>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<script type="text/javascript">

  $(document).ready(function() {
    $('body').scrollspy({
      target: '#main-nav'
    });

    $('.navbar a').click(function(event){
        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {
            // Prevent default anchor click behavior
            event.preventDefault();
            // Store hash (#)
            var hash = this.hash;
            // Ensure no section has relevant class
            $('section').removeClass("focus");
            // Add class to target
            $(hash).addClass("focus");
            // Remove thy class after timeout
            setTimeout(function(){
                $(hash).removeClass("focus");
            }, 2000);
            // Using jQuery's animate() method to add smooth page scroll
            // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area (the speed of the animation)
            $('html, body').animate({
                scrollTop: $(hash).offset().top
            }, 600, function(){
                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
            });
            // Collapse Navbar for mobile view
            $(".navbar-collapse").collapse('hide');
        }
    });
  })
</script>
