<!-- Animate on Scroll library -->
<!-- <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script> -->

<!-- Header -->
<header id="main" class="main parallax">
    <script type = "text/javascript">
        AOS.init();
    </script>
    <div class="container" id="page-top" tabindex="-1">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <h1 class="name"></h1>
                    <span class="subjectTitle"></span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Grid Section -->
<section id="sectionOne" style="
    background-color: rgb(51,54,52);
">
    <div style="
    text-align: center;
">
        <div class="text-center" style="
    display: inline-block;
    background-color: rgb(132, 132, 132);
    width: 80%;
    padding: 50px;
    border-radius: 3px;
">
            <h2 class="sectionTitle" style="
    padding-top: 23px; */
">SUBSECTION 1</h2>
            <p style="
    color: white;
">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consequat quis enim sit amet finibus. Phasellus malesuada vulputate eleifend. Integer pellentesque sollicitudin tempor. Proin eu urna tristique est mattis laoreet. Phasellus lacinia, lectus quis congue eleifend, ex neque consectetur elit, vitae vehicula purus ante sed risus. Vestibulum nec dictum purus. Maecenas eget tellus nec augue iaculis aliquet non id nunc. Mauris et leo magna. Vivamus viverra massa id est fringilla congue. Nullam viverra pulvinar laoreet. Duis ultricies pulvinar gravida. Curabitur nec fringilla arcu. Ut elementum at massa vel lacinia. Curabitur mollis lacus eget aliquet porta. Phasellus ac volutpat mi. Mauris gravida lectus non enim sollicitudin consequat.</p>
        </div>
    </div>
</section>
<section id="sectionTwo" style="
    background-color: rgb(51,54,52);
">
    <div style="
    text-align: center;
">
        <div class="text-center" style="
    display: inline-block;
    background-color: rgb(132, 132, 132);
    width: 80%;
    padding: 50px;
    border-radius: 3px;
">
            <h2 class="sectionTitle" style="
    padding-top: 23px; */
">SUBSECTION 2</h2>
            <p style="
    color: white;
">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consequat quis enim sit amet finibus. Phasellus malesuada vulputate eleifend. Integer pellentesque sollicitudin tempor. Proin eu urna tristique est mattis laoreet. Phasellus lacinia, lectus quis congue eleifend, ex neque consectetur elit, vitae vehicula purus ante sed risus. Vestibulum nec dictum purus. Maecenas eget tellus nec augue iaculis aliquet non id nunc. Mauris et leo magna. Vivamus viverra massa id est fringilla congue. Nullam viverra pulvinar laoreet. Duis ultricies pulvinar gravida. Curabitur nec fringilla arcu. Ut elementum at massa vel lacinia. Curabitur mollis lacus eget aliquet porta. Phasellus ac volutpat mi. Mauris gravida lectus non enim sollicitudin consequat.</p>
        </div>
    </div>
</section>
<section id="sectionThree" style="
    background-color: rgb(51,54,52);
">
    <div style="
    text-align: center;
">
        <div class="text-center" style="
    display: inline-block;
    background-color: rgb(132, 132, 132);
    width: 80%;
    padding: 50px;
    border-radius: 3px;
">
            <h2 class="sectionTitle" style="
    padding-top: 23px; */
">SUBSECTION 3</h2>
            <p style="
    color: white;
">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consequat quis enim sit amet finibus. Phasellus malesuada vulputate eleifend. Integer pellentesque sollicitudin tempor. Proin eu urna tristique est mattis laoreet. Phasellus lacinia, lectus quis congue eleifend, ex neque consectetur elit, vitae vehicula purus ante sed risus. Vestibulum nec dictum purus. Maecenas eget tellus nec augue iaculis aliquet non id nunc. Mauris et leo magna. Vivamus viverra massa id est fringilla congue. Nullam viverra pulvinar laoreet. Duis ultricies pulvinar gravida. Curabitur nec fringilla arcu. Ut elementum at massa vel lacinia. Curabitur mollis lacus eget aliquet porta. Phasellus ac volutpat mi. Mauris gravida lectus non enim sollicitudin consequat.</p>
        </div>
    </div>
</section>
<section id="sectionFour" style="
    background-color: rgb(51,54,52);
">
    <div style="
    text-align: center;
">
        <div class="text-center" style="
    display: inline-block;
    background-color: rgb(132, 132, 132);
    width: 80%;
    padding: 50px;
    border-radius: 3px;
">
            <h2 class="sectionTitle" style="
    padding-top: 23px; */
">SUBSECTION 1</h2>
            <p style="
    color: white;
">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consequat quis enim sit amet finibus. Phasellus malesuada vulputate eleifend. Integer pellentesque sollicitudin tempor. Proin eu urna tristique est mattis laoreet. Phasellus lacinia, lectus quis congue eleifend, ex neque consectetur elit, vitae vehicula purus ante sed risus. Vestibulum nec dictum purus. Maecenas eget tellus nec augue iaculis aliquet non id nunc. Mauris et leo magna. Vivamus viverra massa id est fringilla congue. Nullam viverra pulvinar laoreet. Duis ultricies pulvinar gravida. Curabitur nec fringilla arcu. Ut elementum at massa vel lacinia. Curabitur mollis lacus eget aliquet porta. Phasellus ac volutpat mi. Mauris gravida lectus non enim sollicitudin consequat.</p>
        </div>
    </div>
</section>
<section id="sectionFive" style="
    background-color: rgb(51,54,52);
">
    <div style="
    text-align: center;
">
        <div class="text-center" style="
    display: inline-block;
    background-color: rgb(132, 132, 132);
    width: 80%;
    padding: 50px;
    border-radius: 3px;
">
            <h2 class="sectionTitle" style="
    padding-top: 23px; */
">SUBSECTION 1</h2>
            <p style="
    color: white;
">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consequat quis enim sit amet finibus. Phasellus malesuada vulputate eleifend. Integer pellentesque sollicitudin tempor. Proin eu urna tristique est mattis laoreet. Phasellus lacinia, lectus quis congue eleifend, ex neque consectetur elit, vitae vehicula purus ante sed risus. Vestibulum nec dictum purus. Maecenas eget tellus nec augue iaculis aliquet non id nunc. Mauris et leo magna. Vivamus viverra massa id est fringilla congue. Nullam viverra pulvinar laoreet. Duis ultricies pulvinar gravida. Curabitur nec fringilla arcu. Ut elementum at massa vel lacinia. Curabitur mollis lacus eget aliquet porta. Phasellus ac volutpat mi. Mauris gravida lectus non enim sollicitudin consequat.</p>
        </div>
    </div>
</section>
<section id="sectionSix" style="
    background-color: rgb(51,54,52);
">
    <div style="
    text-align: center;
">
        <div class="text-center" style="
    display: inline-block;
    background-color: rgb(132, 132, 132);
    width: 80%;
    padding: 50px;
    border-radius: 3px;
">
            <h2 class="sectionTitle" style="
    padding-top: 23px; */
">SUBSECTION 1</h2>
            <p style="
    color: white;
">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consequat quis enim sit amet finibus. Phasellus malesuada vulputate eleifend. Integer pellentesque sollicitudin tempor. Proin eu urna tristique est mattis laoreet. Phasellus lacinia, lectus quis congue eleifend, ex neque consectetur elit, vitae vehicula purus ante sed risus. Vestibulum nec dictum purus. Maecenas eget tellus nec augue iaculis aliquet non id nunc. Mauris et leo magna. Vivamus viverra massa id est fringilla congue. Nullam viverra pulvinar laoreet. Duis ultricies pulvinar gravida. Curabitur nec fringilla arcu. Ut elementum at massa vel lacinia. Curabitur mollis lacus eget aliquet porta. Phasellus ac volutpat mi. Mauris gravida lectus non enim sollicitudin consequat.</p>
        </div>
    </div>
</section>
<section id="sectionSeven" style="
    background-color: rgb(51,54,52);
">
    <div style="
    text-align: center;
">
        <div class="text-center" style="
    display: inline-block;
    background-color: rgb(132, 132, 132);
    width: 80%;
    padding: 50px;
    border-radius: 3px;
">
            <h2 class="sectionTitle" style="
    padding-top: 23px; */
">Thesis</h2>
            <p style="
    color: white;
">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consequat quis enim sit amet finibus. Phasellus malesuada vulputate eleifend. Integer pellentesque sollicitudin tempor. Proin eu urna tristique est mattis laoreet. Phasellus lacinia, lectus quis congue eleifend, ex neque consectetur elit, vitae vehicula purus ante sed risus. Vestibulum nec dictum purus. Maecenas eget tellus nec augue iaculis aliquet non id nunc. Mauris et leo magna. Vivamus viverra massa id est fringilla congue. Nullam viverra pulvinar laoreet. Duis ultricies pulvinar gravida. Curabitur nec fringilla arcu. Ut elementum at massa vel lacinia. Curabitur mollis lacus eget aliquet porta. Phasellus ac volutpat mi. Mauris gravida lectus non enim sollicitudin consequat.</p>
        </div>
    </div>
</section>
<section id="sectionOne" style="
    background-color: rgb(51,54,52);
">
    <div style="
    text-align: center;
">
        <div class="text-center" style="
    display: inline-block;
    background-color: rgb(132, 132, 132);
    width: 80%;
    padding: 50px;
    border-radius: 3px;
">
            <h2 class="sectionTitle" style="
    padding-top: 23px; */
">SUBSECTION 1</h2>
            <p style="
    color: white;
">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consequat quis enim sit amet finibus. Phasellus malesuada vulputate eleifend. Integer pellentesque sollicitudin tempor. Proin eu urna tristique est mattis laoreet. Phasellus lacinia, lectus quis congue eleifend, ex neque consectetur elit, vitae vehicula purus ante sed risus. Vestibulum nec dictum purus. Maecenas eget tellus nec augue iaculis aliquet non id nunc. Mauris et leo magna. Vivamus viverra massa id est fringilla congue. Nullam viverra pulvinar laoreet. Duis ultricies pulvinar gravida. Curabitur nec fringilla arcu. Ut elementum at massa vel lacinia. Curabitur mollis lacus eget aliquet porta. Phasellus ac volutpat mi. Mauris gravida lectus non enim sollicitudin consequat.</p>
        </div>
    </div>
</section>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('body').scrollspy({
      target: '#main-nav'
    });

    $('.navbar a').click(function(event){
        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {
            // Prevent default anchor click behavior
            event.preventDefault();
            // Store hash (#)
            var hash = this.hash;
            // Ensure no section has relevant class
            $('section').removeClass("focus");
            // Add class to target
            $(hash).addClass("focus");
            // Remove thy class after timeout
            setTimeout(function(){
                $(hash).removeClass("focus");
            }, 2000);
            // Using jQuery's animate() method to add smooth page scroll
            // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area (the speed of the animation)
            $('html, body').animate({
                scrollTop: $(hash).offset().top
            }, 600, function(){
                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
            });
            // Collapse Navbar for mobile view
            $(".navbar-collapse").collapse('hide');
        }
    });
  })
</script>
