<nav id="main-nav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navb-position">
                <li class="page-scroll">
                    <a href="#sectionOne">SUBSECTION 1</a>
                </li>
                <li class="page-scroll">
                    <a href="#sectionTwo">SUBSECTION 2</a>
                </li>
                <li class="page-scroll">
                    <a href="#sectionThree">SUBSECTION 3</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Signup/login modal -->
<div class="modal fade" id="login-signup-modal" tabindex="-1" role="dialog" aria-labelledby="signup_modal_title" data-redirect-url="/">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
var ajaxModalCallInHeader = function(_url) {
    $.ajax({
        url: _url,
        success: function(data) {
            $_modal = $('#login-signup-modal');
            $_modal.find('.modal-body').html('');
            $(data).appendTo('#login-signup-modal .modal-body');
            $_modal.modal('show');
        }
    });
}

$('document').ready(function() {
    $('.dropdown-toggle').dropdown();

    $(".header-modal").on("click", function(e) {
        e.preventDefault();
        _url = $(this).attr("href");

        ajaxModalCallInHeader(_url);
    });

})

</script>
