<nav id="main-nav" class="navbar navbar-default navbar-fixed-top navbar-custom" style="
    width: 100%;
    height: auto;
">
    <div class="container" style="
    width: 100%; max-width: none;
">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navb-position" style="
    padding: 5px 10px 0px 20px;
">
                <li class="page-scroll" style="padding-right: 13px; padding-left: 13px;">
                    <a href="#sectionOne" style="
    text-transform: uppercase;
    border: solid black;
    padding: 9px;
    font-weight: bold;
    font-size: 22px;
">Thesis</a>
                </li>
                <li class="page-scroll">
                    <a href="#sectionTwo" style="
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
">Define “genocide”</a>
                </li>
                <li class="page-scroll">
                    <a href="#sectionThree" style="
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
">Define “harmful”</a>
                </li>
                <li class="page-scroll">
                    <a href="#sectionFour" style="
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
">Genocide on Organic Intelligence</a>
                </li>
                <li class="page-scroll">
                    <a href="#sectionFive" style="
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
">Genocide on Inorganic Intelligence</a>
                </li>
                <li class="page-scroll">
                    <a href="#sectionSix" style="
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
">Combatting Intelligences</a>
                </li>
                <li class="page-scroll">
                    <a href="#sectionSeven" style="
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
">Conclusion</a>
                </li>
              </ul>
                <ul class="nav navbar-nav navb-position" style="
    margin-left: 440px;
">
                <li class="page-scroll" style="text-align: center">
                    <a href="#sectionEight" style="
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
">More Info</a>
                </li>
                <li class="page-scroll">
                    <a href="#sectionNine" style="
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
">Works Cited</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Signup/login modal -->
<div class="modal fade" id="login-signup-modal" tabindex="-1" role="dialog" aria-labelledby="signup_modal_title" data-redirect-url="/">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
var ajaxModalCallInHeader = function(_url) {
    $.ajax({
        url: _url,
        success: function(data) {
            $_modal = $('#login-signup-modal');
            $_modal.find('.modal-body').html('');
            $(data).appendTo('#login-signup-modal .modal-body');
            $_modal.modal('show');
        }
    });
}

$('document').ready(function() {
    $('.dropdown-toggle').dropdown();

    $(".header-modal").on("click", function(e) {
        e.preventDefault();
        _url = $(this).attr("href");

        ajaxModalCallInHeader(_url);
    });

})

</script>
