<nav id="main-nav" class="navbar navbar-default navbar-fixed-top navbar-custom" style="
    width: 100%;
">
    <div class="container" style="
    width: 100%; max-width: none;
">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navb-position">
                <li class="page-scroll">
                    <a href="#sectionOne" style="
    text-transform: uppercase;
">Thesis</a>
                </li>
                <li class="page-scroll">
                    <a href="#sectionTwo" style="
    text-transform: uppercase;
">Defining “harmful”</a>
                </li>
                <li class="page-scroll">
                    <a href="#sectionThree" style="
    text-transform: uppercase;
">Defining “genocide”</a>
                </li>
                <li class="page-scroll">
                    <a href="#sectionFour" style="
    text-transform: uppercase;
">Genocide on Organic Intelligences</a>
                </li>
                <li class="page-scroll">
                    <a href="#sectionFive" style="
    text-transform: uppercase;
">Genocide on Inorganic Intelligences</a>
                </li>
                <li class="page-scroll">
                    <a href="#sectionSix" style="
    text-transform: uppercase;
">Combatting Intelligences</a>
                </li>
                <li class="page-scroll">
                    <a href="#sectionSeven" style="
    text-transform: uppercase;
">Conclusion</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Signup/login modal -->
<div class="modal fade" id="login-signup-modal" tabindex="-1" role="dialog" aria-labelledby="signup_modal_title" data-redirect-url="/">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
var ajaxModalCallInHeader = function(_url) {
    $.ajax({
        url: _url,
        success: function(data) {
            $_modal = $('#login-signup-modal');
            $_modal.find('.modal-body').html('');
            $(data).appendTo('#login-signup-modal .modal-body');
            $_modal.modal('show');
        }
    });
}

$('document').ready(function() {
    $('.dropdown-toggle').dropdown();

    $(".header-modal").on("click", function(e) {
        e.preventDefault();
        _url = $(this).attr("href");

        ajaxModalCallInHeader(_url);
    });

})

</script>
